<html>
<head>
	<title>Histórico da Taxa SELIC</title>
</head>
<body>
	</br>
	<form method="POST">
	<center>
		Gráfico histórico da Taxa SELIC em 
		<!--select onChange="submit">
			<option id="2008">2008</option>
			<option id="2009">2009</option>
			<option id="2010">2010</option>
			<option id="2011">2011</option>
		</select-->
		</br>
		Ano para exibição: <%= @ano %> 
		</br>


		<img src='<%= Gchart.line(
			:data => [ 	@dados[':M1'],
					@dados[':M2'],
					@dados[':M3'],
					@dados[':M4'],
					@dados[':M5'],
					@dados[':M6'],
					@dados[':M7'],
					@dados[':M8'],
					@dados[':M9'],
					@dados[':M10'],
					@dados[':M11'],
					@dados[':M12']

				],	
			:bar_colors => ["FFCC00"],
			:stacked => false,
			:legend => 'Valor da Taxa Selic',
			:size => "600x360",
			:max_value => false,
			:axis_with_labels => ['x','y'],
			:axis_labels => ['JAN|FEV|MAR|ABR|MAI|JUN|JUL|AGO|SET|OUT|NOV|DEZ','0|10|20']) %>' />
	</center>
	</form>
	</br>
	</br>
	</br>
	</br>
	</br>
	Mais informações na <a href="http://www.bcb.gov.br/?SELICDESCRICAO">página</a> do Banco Central do Brasil
</body>
</html>


